<html>
	<head>
		<title>Clips</title>
		<link rel="stylesheet" href="css/style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src='js/insert.js'></script>
	</head>

	<body>
		<!--menu bar-->
		<div class="menu">
			<div class="title">Clips</div>
				<ul>
					<li><a href="/search">Search</a></li>
					<li><a href="/predefined_queries">Predefined Queries</a></li>
					<li><a href="/insert_delete">Insert/Delete</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div id="insertion">
				<div id="left-pane"></div>
				<div id="right-pane"></div>
			</div>
		</div>
	</body>
</html>
