<html>
	<head>
		<title>Clips</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src='js/search.js'></script>
	</head>

	<body>
		<!--menu bar-->
		<div class="menu">
			<div class="title">Clips</div>
				<ul>
					<li><a href="/search">Search</a></li>
					<li><a href="/predefined_queries">Predefined Queries</a></li>
					<li><a href="/insert_delete">Insert/Delete</a></li>
				</ul>
		</div>

		<!--search-->
		<div id="content">
			<div id="search">
				<input type="text" placeholder="Search here">
				<div id="search-button">Search</div>
			</div>
			<div id="search-results"></div>
		</div>
	</body>
</html>
