body {
	margin: 0;
	background-color: #eeeeee;
	width: 100%;
}

.menu {
	background-color: #333333;
	color: white;
	overflow: hidden;
	border-radius: 0px 0px 10px 10px;
	margin: 0px 10px 0px 10px;
}

.menu h1 {
	text-align: center;
	float: left;
}

.menu ul {
	float: right;
	list-style-type: none;
	padding: 0px;
	margin: 0;
	vertical-align: middle;
}

.menu ul li {
	float: left;
}

.menu ul li a {
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 24px;
	padding: 16px;
	display: block;
}

.menu ul li a:hover {
	background-color: #111111;
}

.menu .title {
	float: left;
	font-size: 24px;
	padding: 16px;
}

.search-form {
	text-align: center;
	margin: 16px;
}

.search-form input {
	font-size:12px;
}

.result-table {
	overflow-x: auto;
	width: 90%;
	margin: auto; 
}

.result-table table {
	border-collapse: collapse;
	width: 100%;
}

.result-table th, tr:nth-child(odd) {
	background-color: white;
}

.result-table th, td {
	text-align: left;
	padding: 8px;
}

.max-width {
	width: 100%;
	max-width: 750px;
}

.insert-table {
	width: 50%;
	text-align: center;
	left: 0;
	float: left;
}

.insert-table form {
	margin: 0;
	padding: 16px;
}

.insert-table ul {
	margin: 0px;
	padding: 0px;
}

.insert-table ul li {
	list-style-type: none;
	padding: 0;
}

.insert-table ul li input {
	padding: 12px;
	background-color: dimgray;
	color: white;
	display: block;
	margin: 12px auto;
	font-size: 20px;
}

.right-pane {
	width: 50%;
	float: right;
}

.insert-column {
	margin: auto;
}

.insert-column form {

}

.insert-column .column-entry {
	float: right;
	display: block;
}

.insert-column input {
	margin: 12px;
	font-size: 20;
	display: inline;
}

.insert-column .submit-button {
	float: right;
	display: block;
}
